<div class="container-fluid">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search for a movie title</h5>
          <form class="form-inline" novalidate [formGroup]="movieForm">
            <input class="form-control col-md-12" [ngModel]="title" (keyup)="searchMovie()" formControlName="title" type="search" placeholder="Enter movie's name">
            <div class="col-md-12" *ngIf="moviesPresent">
              <ul class="list-group">
                <app-movie *ngFor="let movie of movies" [movie]="movie" (gameStarted)="gameStarted($event)" (findCast)="findCast($event)"></app-movie>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="loader m-auto" *ngIf="castLoading"></div>

  <!-- TODO : No results found-->

  <div class="row mt-5" *ngIf="castPresent">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header font-weight-bold">Naming celebrities from {{movieForm.get('title').value}}</div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card-group">
                  <app-cast class="mx-auto my-4" *ngFor="let member of cast; let i=index" [index]="i" [cast]="member" [castNames]="castNames"
                    (addToMap)="addToMap($event)" [answers]="answers"></app-cast>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 offset-md-5" *ngIf="!answered">
                <button type="button" class="btn btn-success btn-block" (click)="submitAnswers(this.key)">SUBMIT</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 offset-md-5" *ngIf="answered">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  You got {{score}} answers correct!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>