<form novalidate autocomplete="off" [formGroup]="regForm">
  <div class="form-group">
    <input type="email" tabindex="1" formControlName="email" class="form-control" placeholder="Email Address" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
  </div>
  <div *ngIf="regForm.get('email').invalid && (regForm.get('email').dirty || regForm.get('email').touched)" class="alert alert-danger">
    <div *ngIf="regForm.get('email').errors.required">
      Email address is required.
    </div>
    <div *ngIf="regForm.get('email').errors.pattern">
      Email address is not properly formatted.
    </div>
  </div>

  <div class="form-group">
    <input type="password" tabindex="2" formControlName="password" class="form-control" placeholder="Password">
  </div>
  <div *ngIf="regForm.get('password').invalid && (regForm.get('password').dirty || regForm.get('password').touched)" class="alert alert-danger">
    <div *ngIf="regForm.get('password').errors.required">
      Password is required.
    </div>
  </div>

  <div class="col-sm-6 offset-sm-3">
    <input type="submit" tabindex="3" (click)="registerInWithEmail()" [disabled]="regForm.invalid" class="form-control btn btn-dark"
      value="REGISTER">
  </div>
</form>