<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 25px">
  <span class="navbar-brand">
    Celebrity Name
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navigation links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="this.authService.isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/leaderboard' routerLinkActive='active'>Leaderboard</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <div class="btn-group" *ngIf="this.authService.isLoggedIn()">
        <button class="btn btn-primary btn-sm" type="button">
          <span *ngIf="this.user">Welcome, {{this.user.name}}
            <span class="badge badge-light">{{this.user.score}} points</span>
          </span>
        </button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)=logout()>Logout</a>
        </div>
      </div>
    </ul>
  </div>
</nav>